asgiref
Django
django-cors-headers
django-environ
django-filter
djangorestframework
Markdown
psycopg2
python-dotenv
sqlparse
tzdata
whitenoise

# pip freeze --local | sed 's/==.*//g' > requirements.txt